/************************* SETUP ***************************/
body {
  box-sizing: border-box;
}

div.navbar-header a {
  height: 56px;
}
ul.nav.navbar-nav li a {
  height: 56px;
  /*padding-top: 5px;*/
}
.starter-template {
  padding: 40px 15px 20px;
  text-align: center;
}
.alert-danger{
    margin-top: 20px;
}
footer{
    height: 30px;
    text-align: right;
    background-color: #333;
    color: white;
    padding-top: 5px;
    margin-top: 20px;
}
/********************** INDEX ****************************/
p.info_periode {
  font-style: italic;
  font-size: 14px;
}

/******************* GESTION_MEMBRE ***************************/
table {
  width: 100%;
  margin: 10px auto; 
  border-collapse: collapse; 
  text-align: center;
}
table th {
  text-align: center;
  padding: 10px;
  color: #fff;
  background: #262626;
}
  table td {
    padding: 5px;
  }

  td a.btn {
    display: inline-block;
  }
  a .glyphicon {
    font-size: 1.5em;
    display: inline-block;
  }
  div label.gestion_membre {
    margin-top: 40px;
  }

  div select {
    padding: 5px;
  }
  button.btn-membre {
    margin-top: 40px;
  }
  
/******************* FORMULAIRE AJOUT/MODIF SALLE ***************************/
.input-group {
  width: 100%;
}
